{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  <!--<li class="title">App Navigation</li>-->
  <!--<li {% if page_id = '1' %} class="active"{% endif %} >-->
    <!--<a href="{% url 'dewater:tool' %}">Dewatering Tool</a></li>-->
  <!--<li class="title">Help Files</li>-->
  <!--<li {% if page_id = '2' %} class="active"{% endif %}>-->
    <!--<a href="{% url 'dewater:user' %}">User Documentation</a></li>-->
  <!--<li {% if page_id = '3' %} class="active"{% endif %}>-->
    <!--<a href="{% url 'dewater:tech' %}">Technical Documentation</a></li>-->
  <!--<li {% if page_id = '4' %} class="active"{% endif %}>-->
    <!--<a href="{% url 'dewater:license' %}">License</a></li>-->
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'dewater/css/main.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'dewater/js/main.js' %}" type="text/javascript"></script>
  <!--<script src="{% static 'dewater/js/jacob_tethys_map_view.js' %}" type="text/javascript"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

{% endblock %}