{% extends "dewater/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}

<li class="title">Aquifer Properties</li>
<div id="myTabs"></div>
  {%gizmo button instructions %}
<form id="dewater" action="{% url 'dewater:tool' %}" method="post">
  {% csrf_token %}

  {% gizmo text_input k %}
  {% gizmo text_input bedrock %}
  {% gizmo text_input iwte %}
  {% gizmo text_input q %}
  {% gizmo text_input dwte %}
</form>
  {% gizmo button execute %}
{% endblock %}


{% block app_content %}



  {% gizmo map_view map_view_options %}

{% endblock %}