{% extends "dewater/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}

  {% gizmo button instructions %}

<li class="title">Aquifer Properties</li>
<div id="myTabs"></div>
<form id="dewater" action="{% url 'dewater:tool' %}" method="post">
  {% csrf_token %}

  {% gizmo text_input k %}
  {% gizmo text_input bedrock %}
  {% gizmo text_input iwte %}
  {% gizmo text_input q %}
  {% gizmo text_input dwte %}
</form>
  {% gizmo button execute %}

  <!--<a href="#sampleModal" role="button" class="btn btn-success" data-toggle="modal">Show Message Box</a>-->
  <!--{% gizmo message_box message_box %}-->

{% endblock %}


{% block app_content %}

  {% gizmo map_view map_view_options %}

<!--Modal to be called-->
<div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Error message</h4>
      </div>
      <div class="modal-body">
          <div id="textDiv">
            <p><span></span></p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}